In [37]:
import pandas as pd

In [38]:
df = pd.read_csv(r"E:\ML_Project\Music Recommender System\spotify_millsongdata.csv")

In [39]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [40]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [41]:
df.shape

(57650, 4)

In [42]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [43]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [44]:
df.head(10)

,artist,song,text
0,Gino Vannelli,Sally,"Sally, she says the sweetest things \r\nBut w..."
1,Rolling Stones,Bright Lights Big City,"Bright lights, big city \r\nGone to my baby's..."
2,Robbie Williams,I Feel It But I Can't Explain,I walk into a room \r\nI say how do you do \...
3,Procol Harum,A Salty Dog,"All hands on deck, we've run a float, \r\nI h..."
4,Tina Turner,On Silent Wings,There was a time when I would have followed yo...
5,Cyndi Lauper,Unconditional Love,And I want to be everything \r\nYou want me t...
6,Doors,"Yes, The River Knows",Please believe me \r\nThe river told me \r\n...
7,Cyndi Lauper,Same Ol' Story,People slippin' in the rain \r\nI watch them ...
8,Religious Music,Go Tell It On The Mountain,"Go, tell it on the mountain \r\nOver the hill..."
9,Waterboys,A Pagan Place,How did he come here? \r\nWho gave him the ke...

In [45]:
df['text'][0]

"Sally, she says the sweetest things  \r\nBut words won't stop the pain  \r\nShe's painting skies of blue  \r\nWhile I'm standing in the rain  \r\n  \r\nI love her still I always will  \r\n  \r\nSally, she sings the sweetest songs  \r\nBut the melody is a lie  \r\nShe's had a change of heart  \r\nI can see it in her eyes  \r\n  \r\nI love her so I can't let go  \r\n  \r\nSave every moment save every hour  \r\nGone are the golden days we knew  \r\nSomeone is lonely in love with the other  \r\nAnd I'm still in love with you  \r\n  \r\nShe was a flower child  \r\nWhen whe came into my life  \r\nAnd now the decades gone  \r\nAnd nothings turned out right  \r\n  \r\nThe feelings gone but life goes on  \r\n  \r\nSomeone is lonely  \r\nIn love with the other  \r\nAnd I'm still in love with you  \r\n  \r\nSally, she says the sweetest things  \r\nBut words won't ever do  \r\nYou're throwing stones at me  \r\nThat I can't throw back at you  \r\n  \r\nI love you still  \r\nI always will\r\n\r\n"

In [46]:
# df = df.sample(5000)

In [47]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [48]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [49]:
pip install nltk

Requirement already satisfied: nltk in c:\users\shiva\appdata\local\programs\python\python312\lib\site-packages (3.9.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: click in c:\users\shiva\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\shiva\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\shiva\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\shiva\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\shiva\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

In [68]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\shiva\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [69]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

def token(txt):
    stemmer = PorterStemmer()
    tokens = word_tokenize(txt)  # Tokenize the text
    stems = [stemmer.stem(w) for w in tokens]  # Apply stemming
    return " ".join(stems)

In [70]:
df['text'] = df['text'].apply(lambda x: token(x))

In [72]:
pip install scikit-learn

Collecting scikit-learnNote: you may need to restart the kernel to use updated packages.

  Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\shiva\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.0.1)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: joblib>=1.2.0 in c:\users\shiva\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.4.2)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ------ --------------------------------- 1.8/11.0 MB 9.1 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/11.0 MB 9.1 MB/s eta 0:00:01
   -------------------- ------------------- 5.5/11.0 MB 8.8 MB/s eta 0:00:01
   -------------------------- ------------- 7.3/11.0 MB 8.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 8.8 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 8.7 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 8.6 MB/s eta 0:00:00
Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
   - -------------------------------------- 1.8/44.5 MB 9.1 MB/s eta 0:00:05
   --- ------------------------------------ 3.7/44.5 MB 8.7 MB/s eta 0:00:05
   ---- ----------------------------------- 5.5/44.5 MB 8.8 MB/s eta 0:00:05
   ------ --------------------------------- 7.1/44.5 MB 8.7 MB/s eta 0:00:05
   -------- ------------------------------- 8.9/44.5 MB 8.8 MB/s eta 0:00:05
   --------- ------------------------------ 10.7/44.5 MB 8.7 MB/s eta 0:00:04
   ----------- ---------------------------- 12.6/44.5 MB 8.8 MB/s eta 0:00:04
   ------------ --------------------------- 14.4/44.5 MB 8.7 MB/s eta 0:00:04
   -------------- ------------------------- 16.3/44.5 MB 8.7 MB/s eta 0:00:04
   ---------------- ----------------------- 18.1/44.5 MB 8.7 MB/s eta 0:00:04
   ----------------- ---------------------- 19.9/44.5 MB 8.7 MB/s eta 0:00:03
   ------------------- -------------------- 21.8/44.5 MB 8.7 MB/s eta 0:00:03
   --------------------- ------------------ 23.6/44.5 MB 8.7 MB/s eta 0:00:03
   ---------------------- ----------------- 25.4/44.5 MB 8.7 MB/s eta 0:00:03
   ------------------------ --------------- 27.0/44.5 MB 8.7 MB/s eta 0:00:03
   ------------------------- -------------- 28.8/44.5 MB 8.7 MB/s eta 0:00:02
   --------------------------- ------------ 30.7/44.5 MB 8.7 MB/s eta 0:00:02
   ---------------------------- ----------- 32.0/44.5 MB 8.5 MB/s eta 0:00:02
   ------------------------------ --------- 33.8/44.5 MB 8.5 MB/s eta 0:00:02
   ------------------------------- -------- 35.4/44.5 MB 8.5 MB/s eta 0:00:02
   -------------------------------- ------- 36.7/44.5 MB 8.4 MB/s eta 0:00:01
   ---------------------------------- ----- 38.0/44.5 MB 8.3 MB/s eta 0:00:01
   ----------------------------------- ---- 39.3/44.5 MB 8.2 MB/s eta 0:00:01
   ------------------------------------ --- 40.1/44.5 MB 8.0 MB/s eta 0:00:01
   ------------------------------------ --- 41.2/44.5 MB 7.9 MB/s eta 0:00:01
   -------------------------------------- - 42.7/44.5 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------  44.3/44.5 MB 7.9 MB/s eta 0:00:01
   ---------------------------------------- 44.5/44.5 MB 7.8 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, scikit-learn
Successfully installed scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [74]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [75]:
similarity[0]

array([1.        , 0.07878063, 0.0714032 , ..., 0.06920637, 0.03091885,
       0.01959489])

In [76]:
df[df['song'] == 'Crying Over You']

Empty DataFrame
Columns: [artist, song, text]
Index: []

In [77]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [80]:
def recommendation(song_df):
    if song_df not in df['song'].values:
        print(f"'{song_df}' not found in the DataFrame.")
        return  # Exit the function if the song is not found
    
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])), reverse=True, key=lambda x: x[1])
    
    songs = []
    # Rest of your recommendation logic

In [81]:
print(df['song'].unique())  # This will print the unique song titles in your DataFrame

['Sally' 'Bright Lights Big City' "I Feel It But I Can't Explain" ...
 "The Bells Of St. Mary's" 'Honey On The Vine'
 "Couldn't Call It Unexpected No. 4"]

In [83]:
recommendation('Bright Lights Big City')

In [84]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))